<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Profil</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding>
  
  
      <ion-card> 
          <img src={{pictureUrl}}>
      </ion-card>
      
      <ion-card>
          <ion-item>
              <ion-label>
                Username
              </ion-label>
              <ion-chip>
                <ion-avatar>
                  <img src={{pictureUrl}}>
                </ion-avatar>
                <ion-label> {{ username }}</ion-label>
              </ion-chip>
            </ion-item>
  
          <ion-item>
            <ion-label>
              Mail 
            </ion-label>
            <ion-label class="ion-text-end"> {{ email }} </ion-label>
          </ion-item>
          
         
          <ion-item >
            <ion-label>
              Projects number 
            </ion-label>
            <ion-label class="ion-text-end">  </ion-label>
          </ion-item>
  
          <ion-item >
          <ion-label>
              Todos number
            </ion-label>
            <ion-label class="ion-text-end">  </ion-label>
          </ion-item>
  
  
          <div padding>
              <ion-button expand="block" size="large" fill="outline" shape="round" color="tertiary" routerLink='/login'>Logout</ion-button>
            </div>
  
        </ion-card>
  </ion-content>
