<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>Chatbot </ion-title>
  </ion-toolbar>
</ion-header> 

 
<ion-content class="ion-padding">
  <div class="chats">
    <div class="chatbox">
      <div *ngFor="let message of messages | async">
        <div class="message sent" *ngIf="message.sentBy === 'user' ">
          {{message.content}}
          <span class="datetext">
            <span class="time">{{message.date | date: 'HH:mm aaa'}}</span>
          </span>
        </div>
        <div class="message received"  *ngIf="message.sentBy =='bot' ">
          {{message.content}}
          <span class="datetext">
            <span class="time">{{message.date | date: 'HH:mm aaa'}}</span>
          </span>
        </div>
      </div>
    </div>
    </div>

  <ion-footer>
    <p text-center *ngIf="sending">sending...</p>
        <div class="flex-items" padding>

          <ion-input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" class="input_message" placeholder="Write here something .."></ion-input>
          <ion-icon (click)="sendMessage()" class="send" name="send"></ion-icon>
          <ion-icon (click)="record()" class="send" name="md-microphone"></ion-icon>
      </div>
  </ion-footer>
 </ion-content>
