<ion-header>

</ion-header> 

 
<ion-content class="ion-padding colorback" >
  <div class="chats">
    <div class="chatbox">
      <div *ngFor="let message of messages | async">
        <div class="message sent" *ngIf="message.sentBy === 'user' ">
          {{message.content}}
          <span class="datetext">
            <span class="time">{{message.date | date: 'HH:mm aaa'}}</span>
          </span>
        </div>
        <div class="message received"  *ngIf="message.sentBy =='bot' ">
          {{message.content}}
          <span class="datetext">
            <span class="time">{{message.date | date: 'HH:mm aaa'}}</span>
          </span>
        </div>
      </div>
    </div>
    </div>
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button (click)="start()" class="round-icon-btn" size="large" shape="round">
        <ion-icon name="md-microphone"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-footer >
    <p text-center *ngIf="sending">sending...</p>
        <div class="flex-items" style="border-radius:18px;"  padding>
          <ion-input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" class="input_message" placeholder="Write here something .."></ion-input>
          <ion-icon (click)="sendMessage()" class="send" name="send"></ion-icon>
      </div>
  </ion-footer>
 </ion-content>
