<ion-header>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-header>

<ion-content  padding>
  <ion-row>
    <ion-col>
      <h1 class="logo">REMINDR</h1>
      <p class="description">This chatbot helps you to remind your upcoming events.</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="log-in-button" color="danger" expand="block" (click)="login()">
        LOG IN WITH GOOGLE
      </ion-button>
      <ion-button class="log-in-button" color="primary" expand="block" routerLink="/dialogchat" routerDirection="forward">
        ChatBot text
      </ion-button>
      <ion-button class="log-in-button" color="primary" expand="block" routerLink="/dialog" routerDirection="forward">
        chatbot txt/speech (problem)
      </ion-button>
      <ion-button class="log-in-button" color="primary" expand="block" routerLink="/home" routerDirection="forward">
        events
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
