<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Reminders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ng-container *ngIf="!events || events.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ion-item-sliding *ngFor="let item of events">
      <ion-item lines="inset" button [routerLink]="['/events', item.id]">
        <ion-label>
          {{ item.startTime.toString() }}
          <!-- <p>{{ item| date:'short' }}</p> -->
        </ion-label>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="remove(item)" color="danger">
          delete
          <ion-icon name="trash" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>


</ion-content>
