<ion-menu contentId="content" type="reveal">
  <ion-header >
      <ion-toolbar class="user-profile">
  
        <ion-grid>
          <ion-row>
            <ion-col col-4>
                <div class="user-avatar">
                  <img src={{pictureUrl}}>
                </div>
            </ion-col>
            <ion-col padding-top col-8>
              <h2 ion-text class="no-margin bold text-white">
                  {{ username }}
         
                </h2>
              <span ion-text color="primary"> Account</span>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      </ion-toolbar>
    </ion-header>

<ion-content padding>
  <div *ngFor="let p of rubric">
    
    <!-- Standard Menu Item -->
    <ion-menu-toggle *ngIf="p.url">
     <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">

       <ion-icon [name]="p.icon" slot="start"></ion-icon>
       <ion-label>
         {{ p.title }}
        </ion-label>
        
      </ion-item>
    </ion-menu-toggle>
    <!-- projects components -->
    <!-- <ion-item  *ngIf="p.title=='My projects'">
        <ion-icon slot="start"  name="filing" *ngIf="!p.open"></ion-icon>
        <ion-label button (click)="myprojects()" (click)="p.open = !p.open" [class.parent-active]="p.open" detail="false">{{ p.title }}</ion-label>
     
      <ion-icon slot="end"  button (click)="presentAlert()" name="add" *ngIf="p.title=='My projects'" ></ion-icon>
    </ion-item> -->
    <!-- Children List for clicked Item -->
    <!-- <ion-list *ngIf="p.open">
      <ion-menu-toggle>
        <ion-item *ngFor="let sub of p.child" class="sub-item">
          <app-project [name]="sub.title" [id]="sub._id"></app-project>
        </ion-item>
      </ion-menu-toggle>
    </ion-list> -->

  </div>

</ion-content>

</ion-menu>

<ion-router-outlet id="content" current></ion-router-outlet>